@import './theme.less';

:root {
  --font-family: @font-family;
  --font-size-label: @fontSize-4;
  --font-size-text: @fontSize-5;
  --font-size-btn-large: @fontSize-3;
  --font-size-btn-medium: @fontSize-4;
  --font-size-btn-small: @fontSize-5;
  --global-border-radius: @global-border-radius;
  --input-border-radius: @input-border-radius;
  --popup-border-radius: @popup-border-radius;
  --left-area-width: 48px;
  --right-area-width: 300px;
  --top-area-height: 48px;
  --toolbar-height: 36px;
  --dock-pane-width: 300px;
  --dock-fixed-pane-width: 300px;
}

@media (min-width: 1860px) {
  :root {
    --right-area-width: 400px;
    --dock-pane-width: 452px;
    --dock-fixed-pane-width: 350px;
  }
}

html,
body {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  color: var(--color-text);
  background-color: #edeff3;
}

* {
  box-sizing: border-box;
}

.lc-widget {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;

  &.hidden {
    display: none;
  }
}

.lc-workbench {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #edeff3;

  .lc-top-area {
    display: none;
    width: 100%;
    height: var(--top-area-height);
    padding: 8px 12px 8px 16px;
    margin-bottom: 2px;
    background-color: var(--color-pane-background);

    &.lc-area-visible {
      display: flex;
    }

    .lc-top-area-left {
      display: flex;
      align-items: center;
    }

    .lc-top-area-center {
      display: flex;
      flex: 1;
      justify-content: center;
      margin: 0 8px;
    }

    .lc-top-area-right {
      display: flex;
      align-items: center;

      > * {
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }

  .lc-workbench-body {
    position: relative;
    display: flex;
    flex: 1;
    min-height: 0;

    .lc-left-float-pane {
      position: absolute;
      top: 0;
      bottom: 0;
      // min-width: var(--dock-fixed-pane-width);
      left: calc(var(--left-area-width) + 1px);
      z-index: 820;
      display: none;
      width: var(--dock-pane-width);
      background-color: var(--color-pane-background);
      box-shadow: 4px 6px 6px 0 rgb(31 50 88 / 8%);
      // padding-top: 36px;
      &.lc-area-visible {
        display: block;
      }
    }

    .lc-left-area {
      display: none;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: space-between;
      width: var(--left-area-width);
      height: 100%;
      overflow: hidden;
      background-color: var(--color-pane-background);

      &.lc-area-visible {
        display: flex;
      }

      .lc-left-area-top,
      .lc-left-area-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
      }

      .lc-left-area-top {
        padding-top: 12px;
      }

      .lc-left-area-bottom {
        padding-bottom: 12px;
      }
    }

    .lc-left-fixed-pane {
      position: relative;
      z-index: 820;
      display: none;
      flex-shrink: 0;
      width: var(--dock-fixed-pane-width);
      height: 100%;
      background-color: var(--color-pane-background);

      &.lc-area-visible {
        display: block;
      }
    }

    .lc-left-area.lc-area-visible ~ .lc-left-fixed-pane {
      margin-left: 1px;
    }

    .lc-left-area.lc-area-visible ~ .lc-workbench-center {
      margin-left: 2px;
    }

    .lc-workbench-center {
      z-index: 10;
      display: flex;
      flex: 1;
      flex-direction: column;

      .lc-toolbar {
        display: flex;
        display: none;
        height: var(--toolbar-height);
        padding: 8px 16px;
        background-color: var(--color-pane-background);

        &.lc-area-visible {
          display: block;
        }

        .lc-toolbar-center {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
        }
      }

      .lc-main-area {
        flex: 1;
      }

      .lc-bottom-area {
        display: none;
        height: var(--bottom-area-height);
        background-color: var(--color-pane-background);

        &.lc-area-visible {
          display: block;
        }
      }
    }

    .lc-right-area {
      position: relative;
      display: none;
      flex-shrink: 0;
      width: var(--right-area-width);
      height: 100%;
      margin-left: 2px;
      background-color: var(--color-pane-background);

      &.lc-area-visible {
        display: block;
      }
    }
  }
}
