@use '@etfma/design/shared' as *;

@include b('aside-area') {
  display: none;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;

  @include when('visible') {
    display: flex;
  }

  @include b('aside-area-top') {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  @include b('aside-area-bottom') {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}
