@use '@etfma/design/shared' as *;

@include b('float-area') {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 820;
  display: none;
  overflow: auto;
  background-color: azure;
  box-shadow: getCssVar('float-area', 'box-shadow');

  @include set-component-css-var('float-area', $float-area);

  @include when('visible') {
    display: flex;
  }
}
