@use '@etfma/design/shared' as *;

@include b('float-area') {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(48px + 1px);
  z-index: 820;
  display: none;
  width: 300px;
  min-width: 300px;
  padding-top: 36px;
  overflow: auto;
  background-color: getCssVar('color', 'white');
  box-shadow: 4px 6px 6px 0 rgb(31 50 88 / 8%);

  @include when('visible') {
    display: block;
  }
}
