@use '@etfma/design/shared' as *;

@include b('header-area') {
  display: none;
  width: 100%;
  background-color: getCssVar('header-area', 'bg-color');

  @include set-component-css-var('header-area', $header-area);

  @include when('visible') {
    display: flex;
  }

  @include b('header-area-left') {
    display: flex;
    align-items: center;
  }

  @include b('header-area-center') {
    display: flex;
    flex: 1;
    align-items: center;
  }

  @include b('header-area-right') {
    display: flex;
    align-items: center;
  }
}
