@use '@etfma/design/shared' as *;

@include b('left-area') {
  display: none;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  width: 48px;
  height: 100%;
  overflow: hidden;
  background-color: getCssVar('color', 'white');

  @include when('visible') {
    display: flex;
  }

  @include b('left-area-top') {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top: 12px;
  }

  @include b('left-area-bottom') {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 12px;
  }
}
