@use '@etfma/design/shared' as *;

@include b('right-area') {
  position: relative;
  display: none;
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  margin-left: 2px;
  background-color: getCssVar('color', 'white');

  @include when('visible') {
    display: block;
  }
}
