@use '@etfma/design/shared' as *;

@include b('toolbar-area') {
  display: none;
  width: 100%;
  background-color: getCssVar('toolbar-area', 'bg-color');

  @include set-component-css-var('toolbar-area', $toolbar-area);

  @include when('visible') {
    display: flex;
  }

  @include b('toolbar-area-center') {
    display: flex;
    flex: 1;
    align-items: center;
  }
}
