@use '@etfma/design/shared' as *;

@include b('top-area') {
  display: none;
  width: 100%;
  height: 48px;
  padding: 8px 12px 8px 16px;
  margin-bottom: 2px;
  background-color: #fff;

  @include when('visible') {
    display: flex;
  }

  @include b('top-area-left') {
    display: flex;
    align-items: center;
  }

  @include b('top-area-center') {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 8px;
  }

  @include b('top-area-right') {
    display: flex;
    align-items: center;

    > * {
      margin-right: 4px;
      margin-left: 4px;
    }
  }
}
